<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHostInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49885/HostInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHostInfoService"
                contract="ServiceReference1.IHostInfoService" name="BasicHttpBinding_IHostInfoService" />
        </client>
    </system.serviceModel>
</configuration>